@using CqrsEventSourcingDemo.Web.Controllers.Attributes
@using CqrsEventSourcingDemo.Web.Controllers.Cafe
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CQRS/ES Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CQRS/ES Demo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Open Tab", "Open", "Tab")</li>
                    <li>@Html.ActionLink("Chef Todo List", "Index", "Chef")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="well">
                    <ul class="nav nav-stacked">
                        <li class="text-uppercase">Wait Staff Todo Lists</li>
                        @foreach (string staff in ViewBag.WaitStaff)
                        {
                            <li>@Html.ActionLink(staff, "Todo", "WaitStaff", new {id = @staff}, null)</li>
                        }
                        <li class="text-uppercase">Open Tabs</li>
                        @foreach (int tableNumber in ViewBag.ActiveTables)
                        {
                            <li>@Html.ActionLink(tableNumber.ToString(), "Status", "Tab", new {id = tableNumber}, null)</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-sm-9">
                @RenderBody()
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - A CQRS/ES Demo Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
