@using Reusables.Util.Extensions

@model CqrsEventSourcingDemo.Web.Scenarios.Class.ClassViewModel[]

@{
    ViewBag.Title = "All Classes";
}

<h2>All Classes</h2>
@if (Model.IsNullOrEmpty())
{
    <p>No class</p>
}
else
{
    <table  class="table table-hover table-bordered">
        @foreach (var classView in Model)
        {
            <tr>
                <td>@classView.Id</td>
                <td>@classView.Name</td>
                <td>@Html.ActionLink("Rename", "Rename", new {id = classView.Id})</td>
                <td>@Html.ActionLink("Remove", "Remove", new {id = classView.Id})</td>
            </tr>
        }
    </table>
}

<hr />

@Html.ActionLink("Add new", "Add")